Repository LambdaSection/NeuralDBG: changes, and which Codecov flags are due for each by the changed paths.
All: unit-tests, integration-tests, e2e-tests

codecov.yml:

coverage:
  status:
    project:
      default:
        target: auto
        threshold: 1%
        informational: true
    patch:
      default:
        target: auto
        threshold: 1%
        informational: true

flags:
  unit-tests:
    paths:
      - neural/parser/
      - neural/shape_propagation/
      - neural/code_generation/
      - neural/visualization/
      - neural/hpo/
      - neural/cli/
  integration-tests:
    paths:
      - neural/
  e2e-tests:
    paths:
      - neural/

ignore:
  - "tests/"
  - "**/__pycache__/"
  - "**/test_*.py"
  - "setup.py"
  - "**/__init__.py"

comment:
  layout: "header, diff, flags, files"
  behavior: default
  require_changes: false
  require_base: false
  require_head: true

Docs: Add 'Neural DSL vs PyTorch' blog post
  docs/blog/neural_vs_pytorch.md
Due: none

Feat: Implement lightweight MLOps component interfaces
  neural/mlops/ab_testing.py
  neural/mlops/audit.py
  neural/mlops/deployment.py
  neural/mlops/registry.py
Due: integration-tests, e2e-tests

Refactor: Minor infrastructure and data handling improvements
  neural/cost/__init__.py
  neural/dashboard/dashboard.py
  neural/data/quality_validator.py
  neural/marketplace/registry.py
  neural/no_code/app.py
  neural/no_code/no_code.py
  neural/shape_propagation/shape_propagator.py
Due: unit-tests, integration-tests, e2e-tests

Auto stash before rebase of "main"
  neural/parser/parser.py
Due: unit-tests, integration-tests, e2e-tests

Run full test suite with pytest and document remaining failures with coverage metrics
  SETUP_README.md
  SETUP_STATUS.md
  TEST_ANALYSIS_SUMMARY.md
  TEST_EXECUTION_SUMMARY.txt
  TEST_RESULTS_QUICK_REFERENCE.md
  neural/parser/parser.py
  setup_complete.bat
  setup_complete.ps1
  setup_packages.py
Due: unit-tests, integration-tests, e2e-tests

Fix parser module bugs including import errors, type annotations, exception handling, and grammar parsing
  neural/parser/parser_utils.py
Due: unit-tests, integration-tests, e2e-tests

Build end-to-end Aquarium IDE workflow tests with automated UI testing
  .github/workflows/aquarium-e2e.yml
  .gitignore
  requirements-dev.txt
  tests/aquarium_e2e/.env.example
  tests/aquarium_e2e/IMPLEMENTATION_COMPLETE.md
  tests/aquarium_e2e/IMPLEMENTATION_SUMMARY.md
  tests/aquarium_e2e/INDEX.md
  tests/aquarium_e2e/QUICKSTART.md
  tests/aquarium_e2e/README.md
  tests/aquarium_e2e/TEST_CHECKLIST.md
  tests/aquarium_e2e/TROUBLESHOOTING.md
  tests/aquarium_e2e/__init__.py
  tests/aquarium_e2e/conftest.py
  tests/aquarium_e2e/page_objects.py
  tests/aquarium_e2e/pytest.ini
  tests/aquarium_e2e/run_tests.bat
  tests/aquarium_e2e/run_tests.py
  tests/aquarium_e2e/run_tests.sh
  tests/aquarium_e2e/test_compilation.py
  tests/aquarium_e2e/test_complete_workflow.py
  tests/aquarium_e2e/test_data.py
  tests/aquarium_e2e/test_dsl_editor.py
  tests/aquarium_e2e/test_export.py
  tests/aquarium_e2e/test_model_variations.py
  tests/aquarium_e2e/test_navigation.py
  tests/aquarium_e2e/test_performance.py
  tests/aquarium_e2e/test_ui_elements.py
  tests/aquarium_e2e/utils.py
Due: none

Replace print statements with proper logging in neural directory
  batch_replace_prints.py
  neural/cloud/sagemaker_integration.py
  neural/code_generation/code_generator.py
  neural/code_generation/export.py
  neural/code_generation/pytorch_generator.py
  neural/shape_propagation/shape_propagator.py
Due: unit-tests, integration-tests, e2e-tests

Fix validation failures for transformer example tests in test_examples.py
  neural/code_generation/code_generator.py
  neural/parser/parser.py
Due: unit-tests, integration-tests, e2e-tests

Create comprehensive integration tests for Aquarium IDE covering welcome screen, template loading, example gallery API endpoints, DSL code compilation, and health check endpoints
  tests/aquarium_ide/INTEGRATION_TEST_SUMMARY.md
  tests/aquarium_ide/QUICK_START.md
  tests/aquarium_ide/README.md
  tests/aquarium_ide/TEST_IMPLEMENTATION_COMPLETE.md
  tests/aquarium_ide/__init__.py
  tests/aquarium_ide/conftest.py
  tests/aquarium_ide/test_backend_api.py
  tests/aquarium_ide/test_e2e_workflows.py
  tests/aquarium_ide/test_integration.py
  tests/aquarium_ide/test_real_examples.py
  tests/aquarium_ide/test_welcome_components.py
Due: none

Fix bugs in AutoML, marketplace, monitoring, teams, and federated learning modules
  neural/automl/architecture_space.py
  neural/automl/early_stopping.py
  neural/automl/engine.py
  neural/automl/evaluation.py
  neural/automl/search_strategies.py
  neural/federated/aggregation.py
  neural/federated/client.py
  neural/federated/server.py
  neural/marketplace/api.py
  neural/marketplace/registry.py
  neural/marketplace/search.py
  neural/monitoring/data_quality.py
  neural/monitoring/drift_detector.py
  neural/monitoring/monitor.py
  neural/teams/access_control.py
  neural/teams/billing.py
  neural/teams/manager.py
  neural/teams/team_tracking.py
Due: integration-tests, e2e-tests

Fix app.run_server() vs app.run() inconsistencies across all Dash-based services to use correct Flask app.run() method pattern
  .gitignore
  neural/cost/dashboard.py
  neural/education/teacher_dashboard.py
  neural/marketplace/web_ui.py
  neural/monitoring/dashboard.py
Due: integration-tests, e2e-tests

Complete the transformer tutorial with interactive examples of attention mechanisms and encoder-decoder architecture
  examples/transformer_tutorial.py
Due: none

Re-run full test suite with pytest to verify bug fixes and update coverage summary
  .gitignore
  AGENTS.md
  IMPLEMENTATION_COMPLETE.md
  IMPLEMENTATION_SUMMARY.md
  Makefile
  README.md
  TESTING_INDEX.md
  TESTING_QUICK_REFERENCE.md
  TESTING_SYSTEM_OVERVIEW.md
  TEST_COMMANDS_CHEATSHEET.md
  TEST_COVERAGE_README.md
  TEST_COVERAGE_SUMMARY.md.template
  TEST_COVERAGE_SYSTEM_FILES.md
  generate_test_coverage_summary.py
  pyproject.toml
  run_tests_with_coverage.bat
  run_tests_with_coverage.ps1
  run_tests_with_coverage.sh
Due: none

Fix visualization and tracking bugs in static visualizer, experiment tracker, metric logging, artifact versioning, comparison UI, and validation
  BUG_FIXES_SUMMARY.md
  IMPLEMENTATION_COMPLETE.md
  neural/tracking/__init__.py
  neural/tracking/aquarium_app.py
  neural/tracking/comparison_component.py
  neural/tracking/comparison_ui.py
  neural/tracking/experiment_tracker.py
  neural/tracking/metrics_visualizer.py
  neural/visualization/static_visualizer/visualizer.py
Due: unit-tests, integration-tests, e2e-tests

Fix type annotation issues to pass mypy strict checking across parser, code generator, dashboard, and HPO modules
  TYPE_ANNOTATIONS_IMPROVEMENTS.md
  mypy.ini
  neural/code_generation/code_generator.py
  neural/dashboard/dashboard.py
  neural/hpo/hpo.py
  neural/hpo/utils.py
  neural/parser/parser.py
Due: unit-tests, integration-tests, e2e-tests

Add class aliases for DataQualityMonitor, FedAvg, and SecureAggregator with updated exports
  .gitignore
  neural/federated/__init__.py
  neural/monitoring/__init__.py
Due: none

Fix shape propagation test failures by adding proper exception handling with pytest.raises() or converting non-critical errors to warnings
  .gitignore
  tests/shape_propagation/test_basic_propagation.py
  tests/shape_propagation/test_complex_models.py
  tests/shape_propagation/test_enhanced_propagator.py
  tests/shape_propagation/test_error_handling.py
  tests/shape_propagation/test_hpo_shape_propagation.py
  tests/shape_propagation/test_shape_propagator_edge_cases.py
  tests/shape_propagation/test_visualization.py
Due: none

Fix integration test failures in transformer workflow by implementing missing components and correcting shape propagation
  neural/code_generation/pytorch_generator.py
  neural/code_generation/tensorflow_generator.py
Due: unit-tests, integration-tests, e2e-tests

Fix parser edge case tests for device specs, execution config, and HPO parsing
  neural/parser/parser.py
Due: unit-tests, integration-tests, e2e-tests

Fix shape propagation bugs in neural network layers including Conv2D padding, LSTM/GRU sequences, transformers, and multi-input concatenation
  SHAPE_PROPAGATION_FIXES.md
  examples/shape_propagation_demo.py
  neural/shape_propagation/layer_handlers.py
  neural/shape_propagation/shape_propagator.py
  neural/shape_propagation/utils.py
  tests/test_shape_propagation_fixes.py
Due: unit-tests, integration-tests, e2e-tests

Fix code generation bugs for neural network layers and shape propagation
  neural/code_generation/code_generator.py
Due: unit-tests, integration-tests, e2e-tests

Update shape propagation error handling tests to use pytest.raises() context managers
  tests/shape_propagation/test_error_handling.py
  tests/shape_propagation/test_shape_propagator_edge_cases.py
Due: none

Fix ONNX validation error by adding required shape field to tensor types and resolving Conv node input size mismatches
  neural/code_generation/code_generator.py
  neural/code_generation/onnx_generator.py
Due: unit-tests, integration-tests, e2e-tests

Fix activation anomaly detection in shape_propagator.py for PyTorch backend
  neural/shape_propagation/shape_propagator.py
Due: unit-tests, integration-tests, e2e-tests

Fix HPO expression parsing edge cases in neural parser
  HPO_EDGE_CASES_IMPLEMENTATION.md
  neural/parser/parser.py
Due: unit-tests, integration-tests, e2e-tests

Add missing validation for edge cases and invalid inputs in neural parser
  VALIDATION_IMPLEMENTATION.md
  neural/parser/parser.py
Due: unit-tests, integration-tests, e2e-tests

Run linting and type checking to identify and fix code quality issues and regressions
  neural/aquarium/src/components/settings/extension_manager.py
  neural/code_generation/code_generator.py
  neural/config/settings/dashboard.py
  neural/config/settings/storage.py
  neural/utils/logging.py
  scripts/lint_and_fix.py
  tests/aquarium_e2e/run_tests.py
Due: unit-tests, integration-tests, e2e-tests

Update FeatureStore.add_feature() method signature to accept group_name, feature_name, dtype, and description parameters
  neural/data/feature_store.py
Due: integration-tests, e2e-tests

Fix error suggestion text mismatches in shape dimension tests and update documentation
  ERROR_SUGGESTIONS_FIX_SUMMARY.md
  docs/ERROR_SUGGESTIONS_REFERENCE.md
  docs/troubleshooting.md
  neural/error_suggestions.py
Due: integration-tests, e2e-tests

Run full test suite after cleanup and fix broken tests
  .gitignore
  IMPLEMENTATION_COMPLETE.md
  POST_CLEANUP_TEST_FIXES.md
  SETUP_STATUS.md
  TEST_FIXES_IMPLEMENTATION.md
  TEST_FIXES_INDEX.md
  TEST_FIXES_README.md
  TEST_STRUCTURE.md
  check_imports.py
  neural/__init__.py
  neural/dashboard/__init__.py
  neural/dashboard/dashboard.py
  neural/no_code/__init__.py
  neural/parser/parser.py
  neural/shape_propagation/shape_propagator.py
  pyproject.toml
  run_tests_after_cleanup.py
  tests/conftest.py
Due: unit-tests, integration-tests, e2e-tests

Simplify integrations module by removing unmaintained cloud platform connectors
  AGENTS.md
  INTEGRATIONS_SIMPLIFICATION_SUMMARY.md
  cleanup_integrations.py
  docs/INTEGRATIONS.md
  neural/integrations/CHANGELOG.md
  neural/integrations/README.md
  neural/integrations/__init__.py
  neural/integrations/azure_ml.py
  neural/integrations/base.py
  neural/integrations/databricks.py
  neural/integrations/examples.py
  neural/integrations/manager.py
  neural/integrations/paperspace.py
  neural/integrations/runai.py
  neural/integrations/sagemaker.py
  neural/integrations/utils.py
  neural/integrations/vertex_ai.py
  tests/test_integrations.py
Due: integration-tests, e2e-tests

Consolidate Docker configurations by removing redundant Dockerfile and merging compose files with profiles
  .env.example
  DOCKER_CONSOLIDATION_SUMMARY.md
  DOCKER_QUICKSTART.md
  Dockerfile
  deployment/docker/README.md
  docker-compose.dev.yml
  docker-compose.prod.yml
  docker-compose.yml
  docs/deployment/single-server.md
Due: none

Delete collaboration server module with WebSocket editing and conflict resolution
  ARCHITECTURE.md
  examples/collaboration/README.md
  examples/collaboration/basic_usage.py
  examples/collaboration/conflict_demo.py
  examples/collaboration/git_integration_demo.py
  neural/cli/cli.py
  neural/collaboration/README.md
  neural/collaboration/__init__.py
  neural/collaboration/access_control.py
  neural/collaboration/client.py
  neural/collaboration/conflict_resolution.py
  neural/collaboration/git_integration.py
  neural/collaboration/server.py
  neural/collaboration/sync_manager.py
  neural/collaboration/workspace.py
  neural/exceptions.py
  neural/server.py
Due: unit-tests, integration-tests, e2e-tests

Delete tests for removed marketplace, education, and collaboration features
  tests/aquarium_e2e/.env.example
  tests/aquarium_e2e/IMPLEMENTATION_COMPLETE.md
  tests/aquarium_e2e/IMPLEMENTATION_SUMMARY.md
  tests/aquarium_e2e/INDEX.md
  tests/aquarium_e2e/QUICKSTART.md
  tests/aquarium_e2e/README.md
  tests/aquarium_e2e/TEST_CHECKLIST.md
  tests/aquarium_e2e/TROUBLESHOOTING.md
  tests/aquarium_e2e/__init__.py
  tests/aquarium_e2e/conftest.py
  tests/aquarium_e2e/page_objects.py
  tests/aquarium_e2e/pytest.ini
  tests/aquarium_e2e/run_tests.bat
  tests/aquarium_e2e/run_tests.py
  tests/aquarium_e2e/run_tests.sh
  tests/aquarium_e2e/test_compilation.py
  tests/aquarium_e2e/test_complete_workflow.py
  tests/aquarium_e2e/test_data.py
  tests/aquarium_e2e/test_dsl_editor.py
  tests/aquarium_e2e/test_export.py
  tests/aquarium_e2e/test_model_variations.py
  tests/aquarium_e2e/test_navigation.py
  tests/aquarium_e2e/test_performance.py
  tests/aquarium_e2e/test_ui_elements.py
  tests/aquarium_e2e/utils.py
  tests/aquarium_ide/INTEGRATION_TEST_SUMMARY.md
  tests/aquarium_ide/QUICK_START.md
  tests/aquarium_ide/README.md
  tests/aquarium_ide/TEST_IMPLEMENTATION_COMPLETE.md
  tests/aquarium_ide/__init__.py
  tests/aquarium_ide/conftest.py
  tests/aquarium_ide/test_backend_api.py
  tests/aquarium_ide/test_e2e_workflows.py
  tests/aquarium_ide/test_integration.py
  tests/aquarium_ide/test_real_examples.py
  tests/aquarium_ide/test_welcome_components.py
Due: none

Delete experimental and unused neural feature modules
  neural/hacky/__init__.py
  neural/hacky/hacky.py
  neural/neural_chat/__init__.py
  neural/neural_chat/neural_chat.py
  neural/neural_llm/__init__.py
  neural/neural_llm/neurallm.py
  neural/research_generation/__init__.py
  neural/research_generation/research_paper.py
Due: integration-tests, e2e-tests

refactor(shape_propagator): simplify lazy imports and visualization initialization
  neural/cli/lazy_imports.py
  neural/shape_propagation/shape_propagator.py
Due: unit-tests, integration-tests, e2e-tests

Build a benchmarking suite comparing Neural DSL against TensorFlow, PyTorch, Keras, and PyTorch Lightning with reproducible results and visualizations
  .gitignore
  BENCHMARKING_IMPLEMENTATION_SUMMARY.md
  README.md
  _setup_install.py
  neural/benchmarks/CONTRIBUTING.md
  neural/benchmarks/IMPLEMENTATION_COMPLETE.md
  neural/benchmarks/README.md
  neural/benchmarks/__init__.py
  neural/benchmarks/benchmark_config.yaml
  neural/benchmarks/example_benchmark.py
  neural/benchmarks/framework_implementations.py
  neural/benchmarks/metrics_collector.py
  neural/benchmarks/publish_to_website.py
  neural/benchmarks/quick_start.py
  neural/benchmarks/requirements.txt
  neural/benchmarks/run_benchmarks.py
  neural/benchmarks/visualization.py
  run_benchmark_demo.py
  website/docs/benchmarks.md
  website/docs/features/benchmarking.md
Due: integration-tests, e2e-tests

Delete temporary data directories while keeping directory structure in .gitignore
  .gitignore
  pretrained_models/__init__.py
  pretrained_models/pretrained.py
Due: none
