Repository LambdaSection/NeuralDBG: changes, and which Codecov flags are due for each by the changed paths.
All: unit-tests, integration-tests, e2e-tests

codecov.yml:

coverage:
  status:
    project:
      default:
        target: auto
        threshold: 1%
        informational: true
    patch:
      default:
        target: auto
        threshold: 1%
        informational: true

flags:
  unit-tests:
    paths:
      - neural/parser/
      - neural/shape_propagation/
      - neural/code_generation/
      - neural/visualization/
      - neural/hpo/
      - neural/cli/
  integration-tests:
    paths:
      - neural/
  e2e-tests:
    paths:
      - neural/

ignore:
  - "tests/"
  - "**/__pycache__/"
  - "**/test_*.py"
  - "setup.py"
  - "**/__init__.py"

comment:
  layout: "header, diff, flags, files"
  behavior: default
  require_changes: false
  require_base: false
  require_head: true

ci: update pylintrc to disable additional warnings
  .pylintrc
Due: none

style: reformat pylintrc disable list to single line
  .pylintrc
Due: none

feat: Add Codacy security scan workflow.
  .github/workflows/codacy.yml
  .github/workflows/fortify.yml
  .github/workflows/pytest.yml
  .github/workflows/python-package.yml
  .github/workflows/sonarqube.yml
Due: none

Implement TransformerDecoder layer with cross-attention and causal masking for encoder-decoder architectures
  CHANGELOG.md
  TRANSFORMER_DECODER_IMPLEMENTATION.md
  neural/aquarium/examples.py
  neural/code_generation/README.md
  neural/code_generation/onnx_generator.py
  neural/code_generation/pytorch_generator.py
  neural/code_generation/tensorflow_generator.py
  neural/shape_propagation/layer_docs.py
  neural/shape_propagation/shape_propagator.py
  website/docs/tutorial/layers.md
Due: unit-tests, integration-tests, e2e-tests

chore: Delete file
  .github/workflows/codacy.yml
Due: none

chore: remove file
  .github/workflows/jekyll.yml
  .github/workflows/marketing_automation.yml
  .github/workflows/post_release_automation.yml
  scripts/automation/blog_generator.py
  scripts/automation/devto_publisher.py
  scripts/automation/medium_publisher.py
  scripts/automation/post_release_helper.py
  scripts/automation/social_media_generator.py
  setup.py
Due: none

feat: Add GitHub Actions workflow and scripts for automated package releases to PyPI and GitHub.
  .github/workflows/automated_release.yml
  scripts/automation/release_automation.py
Due: none

Add packaging, distribution, and CI/CD configuration for cross-platform releases with auto-update and code signing
  .github/workflows/aquarium-release.yml
  .gitignore
  neural/aquarium/PACKAGING_QUICKSTART.md
  neural/aquarium/PACKAGING_SUMMARY.md
  neural/aquarium/build/.gitignore
  neural/aquarium/build/CODE_SIGNING.md
  neural/aquarium/build/ICONS.md
  neural/aquarium/build/INDEX.md
  neural/aquarium/build/PACKAGING_GUIDE.md
  neural/aquarium/build/README.md
  neural/aquarium/build/RELEASE_CHECKLIST.md
  neural/aquarium/build/TESTING.md
  neural/aquarium/build/build.ps1
  neural/aquarium/build/build.sh
  neural/aquarium/build/dev-app-update.yml
  neural/aquarium/build/electron-builder.yml
  neural/aquarium/build/entitlements.mac.plist
  neural/aquarium/build/generate-icons.js
  neural/aquarium/build/linux/after-install.sh
  neural/aquarium/build/linux/after-remove.sh
  neural/aquarium/build/notarize.js
  neural/aquarium/build/version-bump.js
  neural/aquarium/electron/main.js
  neural/aquarium/electron/package.json
  neural/aquarium/electron/preload.js
  neural/aquarium/package.json
  neural/aquarium/src/components/UpdateNotification.css
  neural/aquarium/src/components/UpdateNotification.tsx
Due: integration-tests, e2e-tests

chore: remove file.
  scripts/generate_blog_list.py
  scripts/twitter_bot.py
Due: none

chore: Delete file.
  scripts/automation/CHECKLIST.md
  scripts/automation/FILES_OVERVIEW.md
  scripts/automation/QUICK_START.md
  scripts/automation/README.md
Due: none

Create welcome screen with tutorials, quick start templates, and documentation browser
  neural/aquarium/WELCOME_INTEGRATION_GUIDE.md
  neural/aquarium/WELCOME_SCREEN_IMPLEMENTATION.md
  neural/aquarium/api/docs_api.py
  neural/aquarium/api/examples_api.py
  neural/aquarium/backend/server.py
  neural/aquarium/examples/object_detection.neural
  neural/aquarium/examples/resnet.neural
  neural/aquarium/examples/sentiment_analysis.neural
  neural/aquarium/examples/transformer.neural
  neural/aquarium/examples/vae.neural
  neural/aquarium/src/components/welcome/DocumentationBrowser.css
  neural/aquarium/src/components/welcome/DocumentationBrowser.tsx
  neural/aquarium/src/components/welcome/ExampleGallery.css
  neural/aquarium/src/components/welcome/ExampleGallery.tsx
  neural/aquarium/src/components/welcome/InteractiveTutorial.css
  neural/aquarium/src/components/welcome/InteractiveTutorial.tsx
  neural/aquarium/src/components/welcome/QuickStartTemplates.css
  neural/aquarium/src/components/welcome/QuickStartTemplates.tsx
  neural/aquarium/src/components/welcome/README.md
  neural/aquarium/src/components/welcome/VideoTutorials.css
  neural/aquarium/src/components/welcome/VideoTutorials.tsx
  neural/aquarium/src/components/welcome/WelcomeScreen.css
  neural/aquarium/src/components/welcome/WelcomeScreen.tsx
  neural/aquarium/src/components/welcome/index.tsx
Due: integration-tests, e2e-tests

feat: Add master automation script for orchestrating release, test, and validation processes, including a new release automation module.
  scripts/automation/master_automation.py
  scripts/automation/release_automation.py
Due: none

Enhance attention visualizer for Neural DSL transformer models with CLI integration and examples
  .gitignore
  examples/attention_examples/QUICKSTART.md
  examples/attention_examples/README.md
  examples/attention_examples/basic_transformer.neural
  examples/attention_examples/generate_sample_data.py
  examples/attention_examples/multi_layer_transformer.neural
  examples/attention_examples/text_classification.neural
  examples/attention_examples/visualize_attention_demo.py
  examples/transformer.neural
  neural/cli/cli.py
  neural/explainability/ATTENTION_VISUALIZATION.md
  neural/explainability/attention_visualizer.py
Due: unit-tests, integration-tests, e2e-tests

Rewrite deployment documentation with practical advice, real-world experiences, and conversational explanations
  docs/deployment.md
Due: none

Implement plugin system with extension API, discovery, installation, and marketplace UI
  .gitignore
  neural/aquarium/PLUGINS_README.md
  neural/aquarium/PLUGIN_IMPLEMENTATION_SUMMARY.md
  neural/aquarium/PLUGIN_SYSTEM.md
  neural/aquarium/PLUGIN_SYSTEM_README.md
  neural/aquarium/create_complete_plugin_system.py
  neural/aquarium/create_plugin_system.py
  neural/aquarium/setup_marketplace_integration.py
  neural/aquarium/setup_npm_plugin_example.py
  neural/aquarium/setup_plugins.py
  neural/aquarium/setup_plugins_part2.py
  neural/aquarium/setup_plugins_part3.py
  neural/aquarium/setup_plugins_part4.py
  neural/aquarium/src/__init__.py
  neural/aquarium/src/services/PluginService.ts
  neural/aquarium/src/types/plugins.ts
Due: integration-tests, e2e-tests

Add HPO configuration interface with parameter definition, trial visualization, and Optuna integration
  neural/aquarium/HPO_IMPLEMENTATION.md
  neural/aquarium/HPO_QUICKSTART.md
  neural/aquarium/api/hpo_api.py
  neural/aquarium/src/components/hpo/HPOConfig.css
  neural/aquarium/src/components/hpo/HPOConfig.tsx
  neural/aquarium/src/components/hpo/HPOParameterEditor.css
  neural/aquarium/src/components/hpo/HPOParameterEditor.tsx
  neural/aquarium/src/components/hpo/HPOTrialVisualization.css
  neural/aquarium/src/components/hpo/HPOTrialVisualization.tsx
  neural/aquarium/src/components/hpo/README.md
  neural/aquarium/src/components/hpo/__init__.py
  neural/aquarium/src/components/hpo/index.ts
  neural/aquarium/src/services/HPOService.ts
  neural/aquarium/src/types/hpo.ts
  neural/aquarium/src/types/index.ts
  neural/aquarium/start-hpo-server.bat
  neural/aquarium/start-hpo-server.py
  neural/aquarium/start-hpo-server.sh
Due: integration-tests, e2e-tests

feat: Introduce a comprehensive custom exception hierarchy for Neural DSL error handling.
  neural/exceptions.py
Due: integration-tests, e2e-tests

feat: introduce a comprehensive custom exception hierarchy for the Neural DSL framework.
  neural/exceptions.py
Due: integration-tests, e2e-tests

Add federated learning support with client-server architecture, differential privacy, and secure aggregation
  .gitignore
  AGENTS.md
  neural/federated/IMPLEMENTATION_SUMMARY.md
  neural/federated/QUICKSTART.md
  neural/federated/README.md
  neural/federated/__init__.py
  neural/federated/aggregation.py
  neural/federated/cli.py
  neural/federated/client.py
  neural/federated/communication.py
  neural/federated/config_example.yaml
  neural/federated/examples.py
  neural/federated/integration.py
  neural/federated/orchestrator.py
  neural/federated/privacy.py
  neural/federated/scenarios.py
  neural/federated/server.py
  neural/federated/test_federated.py
  neural/federated/training_integration.py
  neural/federated/utils.py
  setup.py
Due: integration-tests, e2e-tests

feat: Add example Neural DSL models and utility functions for Aquarium IDE.
  neural/aquarium/examples.py
  neural/aquarium/examples/__init__.py
Due: integration-tests, e2e-tests

Update mypy.ini to include all remaining modules with gradual strict type checking enablement
  mypy.ini
Due: none

Build configuration validation and health check system with startup validation, service endpoints, Kubernetes probes, and migration tools
  .env.example
  .gitignore
  CONFIG_VALIDATION_IMPLEMENTATION.md
  CONFIG_VALIDATION_QUICK_REF.md
  docs/CONFIGURATION_VALIDATION.md
  kubernetes/README.md
  kubernetes/neural-api-deployment.yaml
  kubernetes/neural-aquarium-deployment.yaml
  kubernetes/neural-dashboard-deployment.yaml
  kubernetes/neural-marketplace-deployment.yaml
  kubernetes/neural-redis-deployment.yaml
  kubernetes/neural-secrets.yaml
  neural/api/main.py
  neural/aquarium/aquarium.py
  neural/cli/cli.py
  neural/config/__init__.py
  neural/config/health.py
  neural/config/migrator.py
  neural/config/validator.py
  neural/dashboard/dashboard.py
  neural/marketplace/api.py
Due: unit-tests, integration-tests, e2e-tests

Add education-focused features with interactive tutorials, progress tracking, and teacher dashboard
  .gitignore
  AGENTS.md
  EDUCATION_MODULE_SUMMARY.md
  _create_education_dir.py
  neural/__init__.py
  neural/education/IMPLEMENTATION_SUMMARY.md
  neural/education/QUICK_START.md
  neural/education/README.md
  neural/education/__init__.py
  neural/education/assignments.py
  neural/education/cli_commands.py
  neural/education/curriculum.py
  neural/education/examples.py
  neural/education/grading.py
  neural/education/lms_integration.py
  neural/education/models.py
  neural/education/notebook_tutorials.py
  neural/education/progress_tracker.py
  neural/education/teacher_dashboard.py
  setup.py
Due: integration-tests, e2e-tests

Create a comprehensive environment variable configuration system with Pydantic validation and centralized config management
  .env.example
  .gitignore
  CONFIGURATION_SYSTEM_COMPLETE.md
  neural/config/IMPLEMENTATION.md
  neural/config/INDEX.md
  neural/config/MIGRATION_GUIDE.md
  neural/config/QUICKSTART.md
  neural/config/README.md
  neural/config/SUMMARY.md
  neural/config/__init__.py
  neural/config/base.py
  neural/config/cli.py
  neural/config/examples.py
  neural/config/manager.py
  neural/config/settings/__init__.py
  neural/config/settings/api.py
  neural/config/settings/automl.py
  neural/config/settings/core.py
  neural/config/settings/dashboard.py
  neural/config/settings/hpo.py
  neural/config/settings/integrations.py
  neural/config/settings/monitoring.py
  neural/config/settings/no_code.py
  neural/config/settings/storage.py
  neural/config/settings/teams.py
  neural/config/test_config.py
  neural/config/utils.py
  setup.py
Due: integration-tests, e2e-tests

Evaluate and prioritize core features to prevent scope creep in multi-module project
  AGENTS.md
  ARCHITECTURE.md
  CONSOLIDATION_SUMMARY.md
  QUICK_REFERENCE.md
  SCOPE_CONSOLIDATION.md
  SERVICE_REGISTRY.md
  UNIFIED_SERVER_QUICKSTART.md
  neural/cli/cli.py
  neural/config/features.yaml
  neural/dashboard/DEPRECATED.md
  neural/dashboard/dashboard.py
  neural/monitoring/dashboard.py
  neural/no_code/no_code.py
  neural/server.py
Due: unit-tests, integration-tests, e2e-tests

Evaluate and consolidate the profiler directory and update documentation references
  IMPORT_REFACTOR.md
  PROFILER_CONSOLIDATION.md
  PROFILER_CONSOLIDATION_IMPLEMENTATION.md
  REPOSITORY_STRUCTURE.md
  docs/PERFORMANCE.md
  neural/profiling/README.md
  tools/README.md
  tools/profiler/README.md
  tools/profiler/profile_neural.py
  tools/profiler/profile_neural_detailed.py
  tools/profiler/trace_imports.py
  tools/profiler/trace_imports_alt.py
Due: integration-tests, e2e-tests

Leverage DSL abstraction and no-code features to position project for education and experimentation rather than production use
  IMPLEMENTATION_SUMMARY_POSITIONING.md
  README_POSITIONING.md
  docs/MARKET_POSITIONING.md
  docs/tutorials/beginner_guide.md
  docs/tutorials/educational_mode.md
  docs/tutorials/prototyping_guide.md
  examples/tutorials/README.md
  neural/templates/__init__.py
  scripts/quick_prototype.py
Due: none

Evaluate the feature completeness and development momentum of Aquarium IDE v0.3.0
  CHANGELOG.md
  COLAB_IMPLEMENTATION_SUMMARY.md
  docs/cloud.md
  docs/colab/neural_colab_quickstart.ipynb
  neural/cloud/notebook_interface.py
Due: integration-tests, e2e-tests

Create a showcase page with community examples and success stories for Discord-based marketplace
  .gitignore
  COMMUNITY_BUILDING_COMPLETE.md
  COMMUNITY_FEATURES.md
  SETUP_STATUS.md
  docs/community_building.md
  docs/educators_guide.md
  examples/community_example.py
  examples/showcase_submission.md
  neural/cli/cli.py
  neural/cli/community_commands.py
  neural/marketplace/COMMUNITY_README.md
  neural/marketplace/__init__.py
  neural/marketplace/community_features.py
  neural/marketplace/discord_bot.py
  neural/marketplace/education.py
  neural/marketplace/web_ui.py
  website/src/pages/community.js
  website/src/pages/showcase.js
Due: unit-tests, integration-tests, e2e-tests

Improve type coverage, replace print statements with logging, remove wildcard imports, enhance error messages, and expand test coverage
  TECHNICAL_DEBT_IMPROVEMENTS.md
  docs/LOGGING_GUIDE.md
  docs/MIGRATION_GUIDE.md
  neural/collaboration/workspace.py
  neural/dashboard/dashboard.py
  neural/execution_optimization/execution.py
  neural/marketplace/huggingface_integration.py
  neural/parser/parser.py
  neural/profiling/profiler_manager.py
  neural/utils/__init__.py
  neural/utils/logging.py
  neural/visualization/static_visualizer/visualizer.py
Due: unit-tests, integration-tests, e2e-tests

Remove redundant HTML files, disable Jekyll workflow, and update README references
  README.md
  docs/archive/README.md
  docs/archive/blog_index.html.old
  docs/archive/index.html.old
  docs/blog/index.html
  docs/index.html
Due: none

Create GitHub Actions workflow to build and deploy Docusaurus website to GitHub Pages on push to main branch
  .github/workflows/deploy-docs.yml
  neural/__main__.py
  setup.py
Due: integration-tests, e2e-tests

Consolidate and remove deprecated GitHub Actions workflows
  .github/workflows/CONSOLIDATION_SUMMARY.md
  .github/workflows/MIGRATION_GUIDE.md
  .github/workflows/QUICK_REFERENCE.md
  .github/workflows/README.md
  .github/workflows/close-fixed-issues.yml
  .github/workflows/complexity.yml
  .github/workflows/metrics.yml
  .github/workflows/periodic_tasks.yml
  .github/workflows/post_release.yml
  .github/workflows/pre-commit.yml
  .github/workflows/pylint.yml
  .github/workflows/pypi.yml
  .github/workflows/pytest-to-issues.yml
  .github/workflows/python-publish.yml
  .github/workflows/release.yml
  .github/workflows/security-audit.yml
  .github/workflows/snyk-security.yml
Due: none

Consider strategic direction for Neural between comprehensive framework and specialized tool
  AGENTS.md
  CHANGELOG.md
  CLEANUP_REFOCUS.md
  CLI_REFOCUS.md
  REFOCUS.md
  REFOCUSING_IMPLEMENTATION_SUMMARY.md
  REFOCUS_QUICK_REF.md
  neural/__init__.py
Due: none

Execute repository cleanup, consolidate GitHub Actions workflows, and focus on core DSL features
  .github/workflows/README.md
  .github/workflows/codeql.yml
  .github/workflows/essential-ci.yml
  .github/workflows/release.yml
  .github/workflows/validate-examples.yml
  .gitignore
  AGENTS.md
  CLEANUP_COMMIT_MESSAGE.md
  CLEANUP_EXECUTION.md
  CLEANUP_FILE_LIST.md
  CLEANUP_INDEX.md
  CLEANUP_PLAN.md
  DISTRIBUTION_PLAN.md
  QUICK_REFERENCE.md
  README.md
  REPOSITORY_CLEANUP_SUMMARY.md
  WORKFLOW_MIGRATION_GUIDE.md
  cleanup_redundant_files.py
  cleanup_workflows.py
  docs/archive/AQUARIUM_IMPLEMENTATION_SUMMARY.md
  docs/archive/AUTOMATION_GUIDE.md
  docs/archive/BENCHMARKS_IMPLEMENTATION_SUMMARY.md
  docs/archive/BUG_FIXES.md
  docs/archive/CHANGES_SUMMARY.md
  docs/archive/DISTRIBUTION_JOURNAL.md
  docs/archive/DISTRIBUTION_QUICK_REF.md
  docs/archive/DOCUMENTATION_SUMMARY.md
  docs/archive/EXTRACTED_PROJECTS.md
  docs/archive/GITHUB_PUBLISHING_GUIDE.md
  docs/archive/GITHUB_RELEASE_v0.3.0.md
  docs/archive/IMPLEMENTATION_CHECKLIST.md
  docs/archive/IMPLEMENTATION_COMPLETE.md
  docs/archive/IMPLEMENTATION_SUMMARY.md
  docs/archive/IMPORT_REFACTOR.md
  docs/archive/INTEGRATION_IMPLEMENTATION.md
  preview_cleanup.py
  run_cleanup.py
  setup.py
Due: none

Run full test suite with pytest and create prioritized bug list by categorizing failures and documenting error patterns
  BUG_REPORT.md
  BUG_TRACKING.csv
  FINAL_FIXES_SUMMARY.md
  FIXES_IMPLEMENTED.md
  INDEX.md
  QUICK_FIXES.md
  TEST_ANALYSIS_SUMMARY.md
  TEST_SUITE_DOCUMENTATION_README.md
  bug_data.json
  neural/code_generation/code_generator.py
  neural/hpo/hpo.py
  neural/parser/parser.py
  neural/visualization/dynamic_visualizer/api.py
  test_results_core.txt
  tests/code_generator/test_code_generator.py
Due: unit-tests, integration-tests, e2e-tests

Docs: Remove deprecated blog content
  docs/blog/README.md
  docs/blog/blog-list.json
  docs/blog/devto_v0.2.5_release.md
  docs/blog/devto_v0.2.6_release.md
  docs/blog/devto_v0.2.7_release.md
  docs/blog/devto_v0.2.8_release.md
  docs/blog/devto_v0.2.8_release_updated.md
  docs/blog/devto_v0.2.9_release.md
  docs/blog/devto_v0.3.0_release.md
  docs/blog/github_v0.3.0_release.md
  docs/blog/index.html
  docs/blog/medium_v0.3.0_release.md
  docs/blog/website_v0.2.5_release.html
  docs/blog/website_v0.2.5_release.md
  docs/blog/website_v0.2.6_release.md
  docs/blog/website_v0.2.7_release.md
  docs/blog/website_v0.2.8_release.md
  docs/blog/website_v0.2.9_release.md
Due: none

Refactor: Improve API, CLI, and config compatibility and structure
  neural/api/__init__.py
  neural/api/config.py
  neural/api/test_api.py
  neural/aquarium/backend/test_server.py
  neural/aquarium/backend/test_terminal_handler.py
  neural/cli/__init__.py
  neural/config/base.py
Due: integration-tests, e2e-tests
