Repository LambdaSection/NeuralDBG: changes, and which Codecov flags are due for each by the changed paths.
All: unit-tests, integration-tests, e2e-tests

codecov.yml:

coverage:
  status:
    project:
      default:
        target: auto
        threshold: 1%
        informational: true
    patch:
      default:
        target: auto
        threshold: 1%
        informational: true

flags:
  unit-tests:
    paths:
      - neural/parser/
      - neural/shape_propagation/
      - neural/code_generation/
      - neural/visualization/
      - neural/hpo/
      - neural/cli/
  integration-tests:
    paths:
      - neural/
  e2e-tests:
    paths:
      - neural/

ignore:
  - "tests/"
  - "**/__pycache__/"
  - "**/test_*.py"
  - "setup.py"
  - "**/__init__.py"

comment:
  layout: "header, diff, flags, files"
  behavior: default
  require_changes: false
  require_base: false
  require_head: true

Enhance HPO capabilities with Bayesian optimization, multi-objective optimization, distributed tuning, and parameter importance analysis
  .gitignore
  examples/hpo_advanced_example.py
  neural/hpo/CHANGELOG.md
  neural/hpo/README.md
  neural/hpo/__init__.py
  neural/hpo/hpo.py
  neural/hpo/parameter_importance.py
  neural/hpo/utils.py
  neural/hpo/visualization.py
Due: unit-tests, integration-tests, e2e-tests

Optimize dependency management by separating core, optional, and development dependencies
  .gitignore
  AGENTS.md
  CONTRIBUTING.md
  DEPENDENCY_CHANGES.md
  DEPENDENCY_GUIDE.md
  DEPENDENCY_OPTIMIZATION_SUMMARY.md
  DEPENDENCY_QUICK_REF.md
  IMPLEMENTATION_COMPLETE.md
  INSTALL.md
  MIGRATION_GUIDE_DEPENDENCIES.md
  README.md
  requirements-backends.txt
  requirements-dev.txt
  requirements-minimal.txt
  requirements-viz.txt
  requirements.txt
  setup.py
Due: none

Create comprehensive API documentation using Sphinx with autodoc and type hints
  .gitignore
  DOCUMENTATION_SUMMARY.md
  docs/API_DOCUMENTATION.md
  docs/BUILD_DOCS.md
  docs/DOCSTRING_GUIDE.md
  docs/Makefile
  docs/README.md
  docs/_static/.gitkeep
  docs/_templates/.gitkeep
  docs/api/README.md
  docs/api/cli.rst
  docs/api/cloud.rst
  docs/api/code_generation.rst
  docs/api/dashboard.rst
  docs/api/hpo.rst
  docs/api/index.rst
  docs/api/neural.rst
  docs/api/parser.rst
  docs/api/shape_propagation.rst
  docs/api/utils.rst
  docs/api/visualization.rst
  docs/conf.py
  docs/index.rst
  docs/make.bat
  docs/requirements.txt
  neural/__init__.py
  neural/cloud/__init__.py
  neural/cloud/cloud_execution.py
  neural/code_generation/__init__.py
  neural/code_generation/code_generator.py
  neural/hpo/__init__.py
  neural/hpo/hpo.py
  neural/shape_propagation/__init__.py
  neural/shape_propagation/shape_propagator.py
  neural/utils/__init__.py
  setup.py
Due: unit-tests, integration-tests, e2e-tests

Remove wildcard imports and add explicit imports following PEP 8 style
  .gitignore
  IMPORT_REFACTOR.md
  examples/example_tensorflow.py
  neural/ai/natural_language_processor.py
  neural/cli/cli.py
  neural/cli/cli_aesthetics.py
  neural/cli/cpu_mode.py
  neural/cli/lazy_imports.py
  neural/cli/version.py
  neural/cloud/cloud_execution.py
  neural/code_generation/code_generator.py
  neural/dashboard/dashboard.py
  neural/dashboard/tensor_flow.py
  neural/docgen/docgen.py
  neural/execution_optimization/execution.py
  neural/hpo/hpo.py
  neural/hpo/parameter_importance.py
  neural/hpo/strategies.py
  neural/hpo/visualization.py
  neural/metrics/metrics_collector.py
  neural/no_code/no_code.py
  neural/parser/error_handling.py
  neural/parser/parser.py
  neural/parser/validation.py
  neural/shape_propagation/layer_handlers.py
  neural/shape_propagation/shape_propagator.py
  neural/shape_propagation/utils.py
  neural/tracking/experiment_tracker.py
  neural/training/training.py
  neural/utils/seeding.py
  neural/visualization/static_visualizer/visualizer.py
  profiler/trace_imports.py
  pyproject.toml
  setup.py
  tests/parser/test_parser.py
Due: unit-tests, integration-tests, e2e-tests

Create custom exception hierarchy and replace generic exceptions with specific ones
  neural/__init__.py
  neural/ai/llm_integration.py
  neural/cloud/cloud_execution.py
  neural/cloud/notebook_interface.py
  neural/cloud/sagemaker_integration.py
  neural/code_generation/code_generator.py
  neural/exceptions.py
  neural/hpo/hpo.py
  neural/parser/error_handling.py
  neural/pretrained_models/pretrained.py
  neural/shape_propagation/shape_propagator.py
  neural/tracking/integrations.py
Due: unit-tests, integration-tests, e2e-tests

Add comprehensive benchmarking suite comparing Neural DSL against raw TensorFlow/PyTorch
  .gitignore
  docs/benchmarks.md
  tests/benchmarks/IMPLEMENTATION.md
  tests/benchmarks/QUICK_REFERENCE.md
  tests/benchmarks/README.md
  tests/benchmarks/SUMMARY.md
  tests/benchmarks/__init__.py
  tests/benchmarks/benchmark_runner.py
  tests/benchmarks/benchmark_suite.py
  tests/benchmarks/example_usage.py
  tests/benchmarks/models.py
  tests/benchmarks/run_benchmarks.py
  tests/benchmarks/test_benchmarks.py
  tests/benchmarks/verify_setup.py
Due: none

Improve cloud integration with notebook templates, enhanced error handling, and documentation
  CLOUD_IMPROVEMENTS_SUMMARY.md
  IMPLEMENTATION_CHECKLIST.md
  docs/cloud.md
  neural/cloud/CHANGELOG_CLOUD.md
  neural/cloud/README.md
  neural/cloud/__init__.py
  neural/cloud/cloud_execution.py
  neural/cloud/examples/neural_colab_example.ipynb
  neural/cloud/examples/neural_kaggle_example.ipynb
  neural/cloud/examples/neural_sagemaker_example.ipynb
  neural/cloud/examples/quick_start.ipynb
Due: integration-tests, e2e-tests

Update mypy.ini to include additional modules and enable strict typing for them
  mypy.ini
Due: none

Create automation scripts for publishing articles to Dev.to and Medium with master orchestration
  .gitignore
  scripts/automation/.env.example
  scripts/automation/ARCHITECTURE.md
  scripts/automation/CHECKLIST.md
  scripts/automation/FILES_OVERVIEW.md
  scripts/automation/IMPLEMENTATION_SUMMARY.md
  scripts/automation/QUICK_START.md
  scripts/automation/README.md
  scripts/automation/devto_publisher.py
  scripts/automation/example_usage.py
  scripts/automation/master_automation.py
  scripts/automation/medium_publisher.py
Due: none

Add type annotations to neural AI and cloud modules
  neural/ai/ai_assistant.py
  neural/ai/llm_integration.py
  neural/ai/multi_language.py
  neural/ai/natural_language_processor.py
  neural/cloud/cloud_execution.py
  neural/cloud/interactive_shell.py
  neural/cloud/notebook_kernel.py
  neural/cloud/remote_connection.py
Due: integration-tests, e2e-tests

Create comprehensive release documentation for version 0.3.0 with migration guides and API changes
  MIGRATION_v0.3.0.md
  docs/README.md
  docs/migration.md
  docs/releases/README.md
  docs/releases/v0.3.0.md
Due: none

Create a GitHub Actions workflow for automated marketing tasks on release publication
  .github/MARKETING_AUTOMATION_CHECKLIST.md
  .github/MARKETING_AUTOMATION_SUMMARY.md
  .github/workflows/.env.example
  .github/workflows/README.md
  .github/workflows/marketing_automation.yml
  .gitignore
  AUTOMATION_GUIDE.md
  docs/MARKETING_AUTOMATION_DIAGRAM.md
  docs/MARKETING_AUTOMATION_GUIDE.md
  docs/MARKETING_AUTOMATION_QUICK_REF.md
  docs/MARKETING_AUTOMATION_SETUP.md
  docs/README.md
Due: none

Implement model interpretability and explainability with SHAP/LIME integration, attention visualization, and saliency maps
  neural/cli/cli.py
  neural/explainability/README.md
  neural/explainability/__init__.py
  neural/explainability/attention_visualizer.py
  neural/explainability/counterfactual.py
  neural/explainability/explainer.py
  neural/explainability/feature_importance.py
  neural/explainability/lime_explainer.py
  neural/explainability/model_card.py
  neural/explainability/saliency_maps.py
  neural/explainability/shap_explainer.py
Due: unit-tests, integration-tests, e2e-tests

Build AutoML and neural architecture search engine with multiple optimization strategies and parallel execution
  .gitignore
  AGENTS.md
  examples/automl_example.py
  neural/automl/ARCHITECTURE.md
  neural/automl/QUICK_START.md
  neural/automl/README.md
  neural/automl/__init__.py
  neural/automl/architecture_space.py
  neural/automl/early_stopping.py
  neural/automl/engine.py
  neural/automl/evaluation.py
  neural/automl/executor.py
  neural/automl/nas_operations.py
  neural/automl/search_strategies.py
  neural/automl/utils.py
  setup.py
  tests/test_automl.py
Due: integration-tests, e2e-tests

Implement production monitoring and observability system with drift detection, data quality checks, alerting, and dashboard integration
  .gitignore
  neural/cli/cli.py
  neural/monitoring/IMPLEMENTATION_SUMMARY.md
  neural/monitoring/INTEGRATION_GUIDE.md
  neural/monitoring/QUICKSTART.md
  neural/monitoring/README.md
  neural/monitoring/__init__.py
  neural/monitoring/alerting.py
  neural/monitoring/cli_commands.py
  neural/monitoring/dashboard.py
  neural/monitoring/data_quality.py
  neural/monitoring/drift_detector.py
  neural/monitoring/examples/__init__.py
  neural/monitoring/examples/basic_monitoring.py
  neural/monitoring/examples/drift_detection_demo.py
  neural/monitoring/examples/production_deployment.py
  neural/monitoring/grafana_dashboard.json
  neural/monitoring/monitor.py
  neural/monitoring/prediction_logger.py
  neural/monitoring/prometheus_exporter.py
  neural/monitoring/slo_tracker.py
  setup.py
Due: unit-tests, integration-tests, e2e-tests

Build Monaco-based code editor component with Neural DSL syntax highlighting, IntelliSense, error diagnostics, and autocomplete
  neural/aquarium/src/components/editor/.eslintrc.json
  neural/aquarium/src/components/editor/FEATURES.md
  neural/aquarium/src/components/editor/FILES.md
  neural/aquarium/src/components/editor/IMPLEMENTATION.md
  neural/aquarium/src/components/editor/INDEX.md
  neural/aquarium/src/components/editor/INTEGRATION.md
  neural/aquarium/src/components/editor/NeuralDSLMonacoEditor.tsx
  neural/aquarium/src/components/editor/QUICKSTART.md
  neural/aquarium/src/components/editor/README.md
  neural/aquarium/src/components/editor/SUMMARY.md
  neural/aquarium/src/components/editor/completionProvider.ts
  neural/aquarium/src/components/editor/diagnosticsProvider.ts
  neural/aquarium/src/components/editor/examples/BasicUsage.tsx
  neural/aquarium/src/components/editor/examples/ComparisonView.tsx
  neural/aquarium/src/components/editor/examples/WithParserBackend.tsx
  neural/aquarium/src/components/editor/index.ts
  neural/aquarium/src/components/editor/languageConfig.ts
  neural/aquarium/src/components/editor/package.json
  neural/aquarium/src/components/editor/styles.css
  neural/aquarium/src/components/editor/theme.ts
  neural/aquarium/src/components/editor/tsconfig.json
  neural/aquarium/src/components/editor/utils/grammarExtractor.py
  neural/aquarium/src/components/editor/utils/snippets.ts
  neural/aquarium/src/components/editor/utils/validationHelpers.ts
Due: integration-tests, e2e-tests

Add REST API server with FastAPI for model management, authentication, job queue, and Docker deployment
  .dockerignore
  .env.example
  .gitignore
  Dockerfile
  NEURAL_API_IMPLEMENTATION.md
  docker-compose.prod.yml
  docker-compose.yml
  neural/api/API_GUIDE.md
  neural/api/DEPLOYMENT.md
  neural/api/IMPLEMENTATION_SUMMARY.md
  neural/api/QUICK_START.md
  neural/api/README.md
  neural/api/__init__.py
  neural/api/auth.py
  neural/api/celery_app.py
  neural/api/cli.py
  neural/api/config.py
  neural/api/database.py
  neural/api/examples.py
  neural/api/main.py
  neural/api/middleware.py
  neural/api/models.py
  neural/api/rate_limiter.py
  neural/api/routers/__init__.py
  neural/api/routers/compile.py
  neural/api/routers/deployments.py
  neural/api/routers/experiments.py
  neural/api/routers/jobs.py
  neural/api/routers/models.py
  neural/api/tasks.py
  neural/api/test_api.py
  nginx.conf
  requirements-api.txt
  scripts/run_api.ps1
  scripts/run_api.sh
  setup.py
Due: integration-tests, e2e-tests

Enhance no-code interface with drag-and-drop visual network designer and interactive features
  .gitignore
  neural/no_code/CHANGELOG_NOCODE.md
  neural/no_code/DEVELOPMENT.md
  neural/no_code/QUICKSTART.md
  neural/no_code/README.md
  neural/no_code/__init__.py
  neural/no_code/app.py
  neural/no_code/config.py
  neural/no_code/examples/advanced_example.py
  neural/no_code/examples/example_usage.py
  neural/no_code/launcher.py
  neural/no_code/static/app.jsx
  neural/no_code/static/styles.css
  tests/test_no_code_interface.py
Due: integration-tests, e2e-tests

Update .gitignore for integration development artifacts
  .gitignore
Due: none

Implement integrated debugger with NeuralDbg dashboard embedding and debug controls
  neural/aquarium/DEBUGGER_FEATURES.md
  neural/aquarium/DEBUGGER_INTEGRATION.md
  neural/aquarium/DEBUGGER_QUICKSTART.md
  neural/aquarium/__init__.py
  neural/aquarium/package.json
  neural/aquarium/src/components/debugger/BreakpointManager.css
  neural/aquarium/src/components/debugger/BreakpointManager.jsx
  neural/aquarium/src/components/debugger/DebugControls.css
  neural/aquarium/src/components/debugger/DebugControls.jsx
  neural/aquarium/src/components/debugger/Debugger.css
  neural/aquarium/src/components/debugger/Debugger.jsx
  neural/aquarium/src/components/debugger/ExecutionTimeline.css
  neural/aquarium/src/components/debugger/ExecutionTimeline.jsx
  neural/aquarium/src/components/debugger/IMPLEMENTATION_SUMMARY.md
  neural/aquarium/src/components/debugger/README.md
  neural/aquarium/src/components/debugger/VariableInspector.css
  neural/aquarium/src/components/debugger/VariableInspector.jsx
  neural/aquarium/src/components/debugger/example.jsx
  neural/aquarium/src/components/debugger/index.js
  neural/dashboard/__init__.py
  neural/dashboard/dashboard_with_debugger.py
  neural/dashboard/debugger_backend.py
  neural/dashboard/debugger_example.py
  tests/test_debugger.py
Due: integration-tests, e2e-tests

Create a settings and preferences panel with editor themes, keybindings, Python interpreter selection, and persistent configuration storage
  .gitignore
  neural/aquarium/README.md
  neural/aquarium/__init__.py
  neural/aquarium/aquarium_ide.py
  neural/aquarium/examples/__init__.py
  neural/aquarium/examples/settings_demo.py
  neural/aquarium/src/__init__.py
  neural/aquarium/src/components/__init__.py
  neural/aquarium/src/components/settings/__init__.py
  neural/aquarium/src/components/settings/config_manager.py
  neural/aquarium/src/components/settings/extension_manager.py
  neural/aquarium/src/components/settings/keybinding_manager.py
  neural/aquarium/src/components/settings/settings_panel.py
  neural/aquarium/src/components/settings/theme_manager.py
Due: integration-tests, e2e-tests

Build data versioning and lineage tracking system with DVC integration and CLI commands
  .gitignore
  DATA_VERSIONING_IMPLEMENTATION.md
  neural/cli/cli.py
  neural/data/INTEGRATION.md
  neural/data/QUICKSTART.md
  neural/data/README.md
  neural/data/__init__.py
  neural/data/dataset_version.py
  neural/data/dvc_integration.py
  neural/data/examples.py
  neural/data/feature_store.py
  neural/data/lineage_tracker.py
  neural/data/preprocessing_tracker.py
  neural/data/quality_validator.py
  neural/data/utils.py
  setup.py
  tests/test_data_versioning.py
Due: unit-tests, integration-tests, e2e-tests

Implement visualization gallery for neural network architecture diagrams and metrics with export functionality
  neural/visualization/AQUARIUM_DIRECTORY_STRUCTURE.md
  neural/visualization/AQUARIUM_INTEGRATION.md
  neural/visualization/GALLERY_README.md
  neural/visualization/IMPLEMENTATION_SUMMARY.md
  neural/visualization/INDEX.md
  neural/visualization/QUICKSTART_GALLERY.md
  neural/visualization/__init__.py
  neural/visualization/aquarium_integration.py
  neural/visualization/aquarium_server.py
  neural/visualization/aquarium_web_components.py
  neural/visualization/component_interface.py
  neural/visualization/gallery.py
  neural/visualization/gallery_cli.py
  neural/visualization/gallery_example.py
Due: unit-tests, integration-tests, e2e-tests

Create a comprehensive benchmarking suite comparing Neural DSL against popular ML frameworks
  .github/workflows/benchmarks.yml
  .gitignore
  BENCHMARKS_IMPLEMENTATION_SUMMARY.md
  docs/benchmarks.md
  examples/benchmarking_demo.py
  neural/benchmarks/.gitkeep
  neural/benchmarks/CONTRIBUTING.md
  neural/benchmarks/IMPLEMENTATION_COMPLETE.md
  neural/benchmarks/README.md
  neural/benchmarks/__init__.py
  neural/benchmarks/benchmark_config.yaml
  neural/benchmarks/benchmark_runner.py
  neural/benchmarks/example_benchmark.py
  neural/benchmarks/framework_implementations.py
  neural/benchmarks/metrics_collector.py
  neural/benchmarks/publish_to_website.py
  neural/benchmarks/quick_start.py
  neural/benchmarks/report_generator.py
  neural/benchmarks/requirements.txt
  neural/benchmarks/run_benchmarks.py
  tests/benchmarks/__init__.py
  tests/benchmarks/test_benchmark_runner.py
  tests/benchmarks/test_metrics_collector.py
Due: integration-tests, e2e-tests

Implement collaborative editing infrastructure with real-time DSL editing, conflict resolution, and shared workspace management
  .gitignore
  examples/collaboration/README.md
  examples/collaboration/basic_usage.py
  examples/collaboration/conflict_demo.py
  examples/collaboration/git_integration_demo.py
  neural/__init__.py
  neural/cli/cli.py
  neural/collaboration/README.md
  neural/collaboration/__init__.py
  neural/collaboration/access_control.py
  neural/collaboration/client.py
  neural/collaboration/conflict_resolution.py
  neural/collaboration/git_integration.py
  neural/collaboration/server.py
  neural/collaboration/sync_manager.py
  neural/collaboration/workspace.py
  neural/exceptions.py
  setup.py
Due: unit-tests, integration-tests, e2e-tests

Add MultiHeadAttention as standalone layer in grammar and generators
  .gitignore
  MULTIHEADATTENTION_IMPLEMENTATION.md
  examples/README_MULTIHEADATTENTION.md
  examples/multihead_attention.neural
  examples/transformer.neural
  neural/code_generation/onnx_generator.py
  neural/code_generation/pytorch_generator.py
  neural/code_generation/tensorflow_generator.py
  neural/parser/grammar.py
  neural/parser/layer_processors.py
  neural/parser/parser.py
  neural/shape_propagation/shape_propagator.py
Due: unit-tests, integration-tests, e2e-tests

Build a terminal panel with Xterm.js integration supporting multiple shells and split sessions
  neural/aquarium/backend/server.py
  neural/aquarium/backend/terminal_handler.py
  neural/aquarium/backend/test_terminal_handler.py
  neural/aquarium/package.json
  neural/aquarium/src/components/terminal/API.md
  neural/aquarium/src/components/terminal/IMPLEMENTATION_SUMMARY.md
  neural/aquarium/src/components/terminal/INTEGRATION.md
  neural/aquarium/src/components/terminal/QUICKSTART.md
  neural/aquarium/src/components/terminal/README.md
  neural/aquarium/src/components/terminal/Terminal.css
  neural/aquarium/src/components/terminal/Terminal.test.tsx
  neural/aquarium/src/components/terminal/Terminal.tsx
  neural/aquarium/src/components/terminal/TerminalControls.css
  neural/aquarium/src/components/terminal/TerminalControls.tsx
  neural/aquarium/src/components/terminal/TerminalPanel.css
  neural/aquarium/src/components/terminal/TerminalPanel.tsx
  neural/aquarium/src/components/terminal/config.ts
  neural/aquarium/src/components/terminal/example.tsx
  neural/aquarium/src/components/terminal/index.ts
  neural/aquarium/src/components/terminal/types.ts
  neural/aquarium/src/components/terminal/utils.ts
Due: integration-tests, e2e-tests

Update transformer.neural example with complete implementation and add validation tests
  examples/transformer.neural
  neural/code_generation/onnx_generator.py
  neural/code_generation/pytorch_generator.py
  neural/code_generation/tensorflow_generator.py
  tests/test_examples.py
Due: unit-tests, integration-tests, e2e-tests

Implement multi-tenancy and team management with role-based access control, resource quotas, and billing integration
  .gitignore
  AGENTS.md
  TEAMS_IMPLEMENTATION.md
  neural/cli/cli.py
  neural/teams/QUICK_START.md
  neural/teams/README.md
  neural/teams/__init__.py
  neural/teams/access_control.py
  neural/teams/analytics.py
  neural/teams/billing.py
  neural/teams/cli_commands.py
  neural/teams/config.py
  neural/teams/manager.py
  neural/teams/models.py
  neural/teams/team_registry.py
  neural/teams/team_tracking.py
  setup.py
  tests/test_teams.py
Due: unit-tests, integration-tests, e2e-tests

Add type annotations to neural HPO functions and dynamic model class methods
  neural/hpo/hpo.py
Due: unit-tests, integration-tests, e2e-tests

Create comprehensive transformer model examples with sequence-to-sequence translation, BERT-style encoder, GPT-style decoder, and full encoder-decoder implementations
  examples/TRANSFORMER_EXAMPLES.md
  examples/bert_encoder.neural
  examples/encoder_decoder_transformer.neural
  examples/gpt_decoder.neural
  examples/seq2seq_transformer.neural
Due: none

Add model export and deployment panel with format selection and optimization options
  SETUP_STATUS.md
  _setup_repo.py
  neural/aquarium/EXPORT_CHECKLIST.md
  neural/aquarium/EXPORT_IMPLEMENTATION_SUMMARY.md
  neural/aquarium/EXPORT_INTEGRATION.md
  neural/aquarium/EXPORT_QUICK_START.md
  neural/aquarium/api/__init__.py
  neural/aquarium/api/export_api.py
  neural/aquarium/src/components/export/DeploymentTargetSelector.css
  neural/aquarium/src/components/export/DeploymentTargetSelector.tsx
  neural/aquarium/src/components/export/ExportFormatSelector.css
  neural/aquarium/src/components/export/ExportFormatSelector.tsx
  neural/aquarium/src/components/export/ExportPanel.css
  neural/aquarium/src/components/export/ExportPanel.tsx
  neural/aquarium/src/components/export/ExportPanelExample.tsx
  neural/aquarium/src/components/export/ExportProgress.css
  neural/aquarium/src/components/export/ExportProgress.tsx
  neural/aquarium/src/components/export/OptimizationOptions.css
  neural/aquarium/src/components/export/OptimizationOptions.tsx
  neural/aquarium/src/components/export/README.md
  neural/aquarium/src/components/export/ServingConfigGenerator.css
  neural/aquarium/src/components/export/ServingConfigGenerator.tsx
  neural/aquarium/src/components/export/__init__.py
  neural/aquarium/src/components/export/index.ts
  neural/aquarium/src/services/ExportService.ts
  neural/aquarium/src/services/index.ts
  neural/aquarium/src/types/export.ts
  neural/aquarium/src/types/index.ts
Due: integration-tests, e2e-tests

Create snyk-security.yml
  .github/workflows/snyk-security.yml
Due: none

Rewrite getting started guide with beginner-friendly tone and practical troubleshooting
  .gitignore
  GETTING_STARTED.md
Due: none

Create sonarqube.yml
  .github/workflows/sonarqube.yml
Due: none

refactor(shape_propagator): remove pretrained model hub dependency
  neural/shape_propagation/__pycache__/shape_propagator.cpython-312.pyc
  neural/shape_propagation/shape_propagator.py
Due: unit-tests, integration-tests, e2e-tests

ci: add prospector configuration file with medium strictness
  .prospector.yaml
Due: none

style: update pylintrc to disable additional warnings
  .pylintrc
Due: none

feat: Implement data utilities for versioning, lineage, and validation, and establish a custom exception hierarchy.
  neural/data/utils.py
  neural/exceptions.py
Due: integration-tests, e2e-tests
