Repository LambdaSection/NeuralDBG: changes, and which Codecov flags are due for each by the changed paths.
All: unit-tests, integration-tests, e2e-tests

codecov.yml:

coverage:
  status:
    project:
      default:
        target: auto
        threshold: 1%
        informational: true
    patch:
      default:
        target: auto
        threshold: 1%
        informational: true

flags:
  unit-tests:
    paths:
      - neural/parser/
      - neural/shape_propagation/
      - neural/code_generation/
      - neural/visualization/
      - neural/hpo/
      - neural/cli/
  integration-tests:
    paths:
      - neural/
  e2e-tests:
    paths:
      - neural/

ignore:
  - "tests/"
  - "**/__pycache__/"
  - "**/test_*.py"
  - "setup.py"
  - "**/__init__.py"

comment:
  layout: "header, diff, flags, files"
  behavior: default
  require_changes: false
  require_base: false
  require_head: true

Remove redundant test documentation files and keep only two summary files
  TESTING_INDEX.md
  TESTING_QUICK_REFERENCE.md
  TESTING_SYSTEM_OVERVIEW.md
  TEST_COMMANDS_CHEATSHEET.md
  TEST_COVERAGE_README.md
  TEST_COVERAGE_SYSTEM_FILES.md
  TEST_EXECUTION_SUMMARY.txt
  TEST_RESULTS_QUICK_REFERENCE.md
  TEST_SUITE_DOCUMENTATION_README.md
Due: none

Remove 80+ redundant quick reference and summary documentation files from root and subdirectories
  CLEANUP_README.md
  CLEANUP_SCRIPTS_INDEX.md
  DOCUMENTATION_CLEANUP_COMPLETE.md
  DOCUMENTATION_CLEANUP_IMPLEMENTATION.md
  FILES_TO_DELETE_MANIFEST.txt
  QUICK_FILES_CONSOLIDATION.md
  QUICK_FILES_SCRIPTS_README.md
  QUICK_SUMMARY_CLEANUP_README.md
  README.md
  cleanup_quick_and_summary_docs.py
  delete_quick_and_summary_docs.bat
  delete_quick_and_summary_docs.ps1
  delete_quick_and_summary_docs.sh
  docs/archive/QUICK_SUMMARY_CLEANUP_2025.md
  install_packages.ps1
  run_documentation_cleanup.py
Due: none

Fix import errors, dependency issues, and validate lazy loading for optional dependencies
  neural/code_generation/export.py
  neural/dashboard/dashboard.py
  neural/dashboard/tensor_flow.py
  neural/explainability/shap_explainer.py
  neural/no_code/no_code.py
  neural/server.py
  neural/shape_propagation/shape_propagator.py
  neural/tracking/integrations.py
  neural/tracking/metrics_visualizer.py
  neural/visualization/static_visualizer/visualizer.py
Due: unit-tests, integration-tests, e2e-tests

Review and address TODO, FIXME, XXX, HACK, and BUG comments in 24 Python files focusing on core modules first
  CLEANUP_NOTES.md
  neural/hpo/hpo.py
  neural/parser/parser.py
  neural/shape_propagation/shape_propagator.py
Due: unit-tests, integration-tests, e2e-tests

Remove merge conflict markers and ensure proper error handling for missing matplotlib dependency in NeuralVisualizer
  neural/visualization/static_visualizer/visualizer.py
Due: unit-tests, integration-tests, e2e-tests

Add dummy base classes for DynamicPTModel and DynamicTFModel to handle missing PyTorch and TensorFlow dependencies; update test to skip if docgen module is unavailable
  neural/hpo/hpo.py
  tests/docgen/test_docgen_v11.py
  tests/test_codegen_and_docs.py
Due: unit-tests, integration-tests, e2e-tests

Implement conditional imports and skip tests for unavailable modules in cost and monitoring tests; add skip marker for docgen tests.
  tests/test_codegen_and_docs.py
  tests/test_cost.py
  tests/test_cost_coverage.py
  tests/test_monitoring_coverage.py
Due: none

Clean up redundant documentation files and consolidate into main docs directory
  AGENTS.md
  CHANGELOG.md
  CLEANUP_INDEX.md
  DOCS_CLEANUP_GUIDE.md
  DOCUMENTATION_CLEANUP_README.md
  DOCUMENTATION_CLEANUP_SCRIPTS.md
  DOCUMENTATION_CLEANUP_SUMMARY.md
  IMPLEMENTATION_SUMMARY.md
  README.md
  cleanup_redundant_docs.py
  docs/ARCHITECTURE.md
  docs/README.md
  list_remaining_docs.py
  run_documentation_cleanup.py
  verify_documentation_cleanup.py
Due: none

Add support for CUDA device in execution configuration processing
  neural/parser/network_processors.py
Due: unit-tests, integration-tests, e2e-tests

Fix import errors and broken references after module removal
  neural/config/health.py
  neural/config/migrator.py
  neural/config/validator.py
  neural/server.py
Due: integration-tests, e2e-tests

Update README.md to remove sections about deleted features and refocus on core DSL compiler value proposition
  README.md
Due: none

Remove print statements and replace with proper logging across multiple Python modules
  neural/benchmarks/run_benchmarks.py
  neural/cli/cli_aesthetics.py
  neural/cli/welcome_message.py
  neural/dashboard/debugger_backend.py
  neural/dashboard/tensor_flow.py
  neural/no_code/launcher.py
  neural/shape_propagation/shape_propagator.py
Due: unit-tests, integration-tests, e2e-tests

Run full test suite to verify all tests pass after module removal and fix any broken tests
  TEST_FIXES_AFTER_MODULE_REMOVAL.md
  neural/benchmarks/metrics_collector.py
  neural/hpo/__init__.py
  neural/hpo/hpo.py
  neural/hpo/parameter_importance.py
  neural/hpo/visualization.py
  tests/docgen/test_docgen_v11.py
  tests/test_codegen_and_docs.py
  tests/test_cost.py
  tests/test_cost_coverage.py
  tests/test_monitoring_coverage.py
Due: unit-tests, integration-tests, e2e-tests

Run final validation with complete test suite coverage and document v0.4.0 results
  IMPLEMENTATION_STATUS.md
  REFACTORING_COMPLETE.md
  SETUP_COMPLETE.md
  TEST_SUITE_RESULTS.md
Due: none

Enable auto_flatten_output in code generation to address shape propagation issues in both framework implementations and benchmark tests.
  neural/benchmarks/framework_implementations.py
  tests/benchmarks/benchmark_runner.py
Due: integration-tests, e2e-tests

PIVOT
  .gitignore
  README.md
Due: none

style(docs): capitalize 'Dbg' to 'DBG' in README.md for consistency
  .github/workflows/build.yml
  .vscode/settings.json
  AGENTS.md
  README.md
  logic_graph.md
  neuraldbg.py
  sonar-project.properties
Due: none

ci: pin GitHub Actions to specific commit SHAs
  .github/workflows/build.yml
Due: none

feat : added unit tests, logic tests and integration tests.
  .coverage
  __pycache__/neuraldbg.cpython-314.pyc
  tests/__pycache__/test_event.cpython-314-pytest-9.0.1.pyc
  tests/integration/__pycache__/test_event_integration.cpython-314-pytest-9.0.1.pyc
  tests/integration/test_event_integration.py
  tests/logic/__pycache__/test_event_logic.cpython-314-pytest-9.0.1.pyc
  tests/logic/test_event_logic.py
  tests/test_event.py
  tests/unit/__pycache__/test_event_unit.cpython-314-pytest-9.0.1.pyc
  tests/unit/test_event_unit.py
Due: none

docs: expand README.md with comprehensive project overview and usage guide
  README.md
Due: none

Create SECURITY.md
  SECURITY.md
Due: none

chore: configure .gitignore and pytest for Python project
  .gitignore
  pyproject.toml
Due: none

docs(readme): refactor project description and features for causal inference focus
  README.md
  __pycache__/neuraldbg.cpython-314.pyc
  demo_vanishing_gradients.py
  neuraldbg.py
  tests/unit/__pycache__/test_event_unit.cpython-314-pytest-9.0.2.pyc
  tests/unit/test_event_unit.py
Due: none

Checkpoint from VS Code for cloud agent session
  AI_GUIDELINES.md
Due: none

refactor: Transition from `Event` to `SemanticEvent` for enhanced causal inference, update related tests and documentation, and add AI assistant configuration files.
  .cursorrules
  .github/copilot-instructions.md
  demo_vanishing_gradients.py
  ia_rules/AI_GUIDELINES.md
  logic_graph.md
  neuraldbg.py
  tests/integration/test_event_integration.py
  tests/logic/test_event_logic.py
  tests/unit/test_event_unit.py
  visualize_causality.py
Due: none

feat: Implement activation saturation detection, regime shift detection, and failure explanation, accompanied by a new test case.
  neuraldbg.py
  tests/repro_saturation.py
Due: none

docs: update guidelines and rules for AI tooling and product quality
  .antigravity/RULES.md
  .antigravity/artifacts/.gitkeep
  .cursor/rules/antigravity-projects.mdc
  .cursor/rules/product-quality.mdc
  .cursorrules
  .github/copilot-instructions.md
  .github/workflows/codacy.yml
  .github/workflows/codeql.yml
  .gitignore
  CHANGELOG.md
  README.md
  ia_rules/AI_GUIDELINES.md
Due: none

docs: update AntiGravity rules and roadmap for AI tooling
  .antigravity/RULES.md
  .cursor/rules/antigravity-projects.mdc
  CHANGELOG.md
  ia_rules/AI_GUIDELINES.md
Due: none

chore: update .gitignore and documentation for artifact management
  .antigravity/RULES.md
  .cursor/rules/product-quality.mdc
  .gitignore
  CHANGELOG.md
  PROJECTS.md
  README.md
  artifacts/.gitkeep
  ia_rules/AI_GUIDELINES.md
Due: none

docs: update CHANGELOG and PROJECTS.md for project structure and setup
  CHANGELOG.md
  PROJECTS.md
  README.md
Due: none

docs: enhance documentation on AI guidelines and project structure
  .antigravity/RULES.md
  .cursor/rules/product-quality.mdc
  .cursorrules
  .github/copilot-instructions.md
  CHANGELOG.md
  ia_rules/AI_GUIDELINES.md
Due: none

docs: update PROJECTS.md to correct local cloning path for Project A
  .cursor/rules/explain-first-time.mdc
  PROJECTS.md
Due: none

feat: Revamp project rules for pedagogical AI interaction, introduce AI guidelines, and establish session summary tracking.
  .cursorrules
  AI_GUIDELINES.md
  SESSION_SUMMARY.md
  SESSION_SUMMARY.md.bak
  neuraldbg.egg-info/PKG-INFO
  neuraldbg.egg-info/SOURCES.txt
  neuraldbg.egg-info/dependency_links.txt
  neuraldbg.egg-info/requires.txt
  neuraldbg.egg-info/top_level.txt
  synthetic_data_sample.png
Due: none

docs: Update AI guidelines with detailed sections on modular design, critical thinking, and robust security hardening.
  .cursorrules
  AI_GUIDELINES.md
Due: none

feat: universal multi-lingual rules and auto-commit protocol
  SESSION_SUMMARY.md
Due: none

feat: restore and merge project continuity rules
  .cursorrules
  SESSION_SUMMARY.md
Due: none
